@charset "utf-8";
p.Bl1 { text-align: center;
        font-size: 75px;
        font-family: "ヒラギノ丸ゴ Pro W4";
        font-weight: 530;
        color:#4de1ff;
        }
p.Bl2 { text-align: center}
footer{ position: absolute;
        bottom: 0;
}
